<!doctype html>
<html data-code="<%= @code %>" style="background-color: #f5f5f5; min-height: 100%;">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <title>e-learning教材</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>
<body class="try try_index">

  <nav class='navbar navbar-default opal-nav' role='navigation'>
  <div class='container'>
  </div>
</nav>

  <script>$('a[href="'+location.pathname.replace(/\/$/,'')+'"]').parent().addClass('active')</script>

  <div class="container">
<script>Opal.load('try_opal');</script>

<div class="page-header"><h1>Rubyの基本</h1></div>
  <iframe src="//www.slideshare.net/slideshow/embed_code/key/3ZR8VOuoRNsM6N" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px">

<div class="page-header"><h1>演習問題</h1></div>

<div class="row" id="wrapper">
  <div id="editor_wrapper" class="col-md-6">
    <a href="#" id="run_code" class="btn btn-primary">コードを実行</a>
    <a href="/educational/ruby_basic_answer" class="btn btn-primary">答えを見る</a>

    <p></p>
    <div id="editor" class="well" style="padding:0"></div>
  </div>
  <div class="col-md-6">
    <a href="#" class="btn disabled">Output</a>
    <p></p>
    <div id="output" class="well" style="padding:0">
    </div>
  </div>
</div>

<p></p>
<div id="viewer" class="well hide" style="padding:0">
</div>
<!-- output -->
<div class="row" id="wrapper">
  <div class="col-md-12">
  </div>
</div>


  </div>


<footer>
</footer>


  <script>
    $('a[href="'+location.pathname.replace(/\/$/,'')+'"]').parent('li').addClass('active')
  </script>
</body>
</html>
