<!doctype html>
<% @code ||= "class User\n  attr_accessor :name\n\n  def initialize(name)\n    @name = name\n  end\n\n  def admin?\n    @name == 'Admin'\n  end\nend\n\nuser = User.new('Bob')\nputs user\nputs user.admin?\n"  %>
<html data-code="<%= @code %>" style="background-color: #f5f5f5; min-height: 100%;">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <title>e-learning教材</title>

  <link href="/Users/taishi/Desktop/e-learn/stylesheets/application.css" rel="stylesheet" type="text/css" />
</head>
<body class="try try_index">

  <nav class='navbar navbar-default opal-nav' role='navigation'>
  <div class='container'>
  </div>
  </nav>

  <script>$('a[href="'+location.pathname.replace(/\/$/,'')+'"]').parent().addClass('active')</script>

  <div class="container">
<script>Opal.load('try_opal');</script>

<div class="page-header"><h1>教材一覧</h1></div>
<div class="page-header"><h2><a href="/educational/ruby_basic">Rubyの基本</a></h2></div>
<div class="page-header"><h2><a>オブジェクト</a></h2></div>
<div class="page-header"><h2><a>メソッド</a></h2></div>
<div class="page-header"><h2><a>if文</a></h2></div>
<div class="page-header"><h2><a>for文</a></h2></div>

</div>


<footer>
</footer>


  <script>
    $('a[href="'+location.pathname.replace(/\/$/,'')+'"]').parent('li').addClass('active')
  </script>
</body>
</html>
